<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
    <head>
        <title>{{ TITLE_PAGE }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico"/>
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />

    </head>
    <body id="bodyappfb" >
        <div id='message'></div>
        
        <div id="main_content"  class="container" >
            <div>{{MENU|raw}}</div>

            <div class="bs-docs-example">
                <div class="hero-unit">

                    <div class="row page-header" style="position: relative;">
                        <h4>{{TITLE_FORM|raw}}<small> CONFIGURACIONES</small></h4><br/>
                        {{FORM|raw}}
                    </div>

                </div>
            </div>

       </div>

        
        <script src="{{ app.request.basepath }}/js/jquery-1.9.1.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ app.request.basepath }}/js/jquery-ui-1.10.3.custom.js"></script>
        <script src="{{ app.request.basepath }}/js/analytics.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap-fileupload.js"></script>
        <script src="{{ app.request.basepath }}/js/bootstrap-tooltip.js"></script>
        <script type="text/javascript">
            var basepath = '{{ app.request.basepath }}';
            jQuery(function(){
                jQuery('#facebook-admin-box-0 input').focus();
                jQuery('#form-params').adminanalytics({}); 
            });
        </script>

    </body>
</html>
    
